*.h              linguist-language=C++
*.in             linguist-language=C++

CMakeLists.txt   linguist-vendored
CMakePresets.txt linguist-vendored
*.cmake          linguist-vendored
*.g4             linguist-vendored
